:root {
  --main-bg-color: #000000;
}
.navbar {
  background-color: red;
}
body {
  background-color: var(--main-bg-color);
}
/* background image */
.hero-section {
  background-color: red;
  background-image: url("../imgs/bg-imgwebp.webp");
  background-size: cover;
  height: 100vh;
}
.skills-section {
  min-height: 100vh;
  background-image: url("../imgs/abstract1.webp");
  background-size: cover;
}

.skill-card {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  padding: 60px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.skill-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(86deg) brightness(100%);
}

.skill-card h3 {
  font-size: 2rem;
  font-weight: 500;
}

.skills-section p {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.projects-section {
  min-height: 100vh;
}

.project-intro {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.project-category {
  margin-top: 220px;
  margin-bottom: 80px;
}

.project-card {
  background: rgba(20, 20, 20, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  overflow: hidden;
}

.active-card {
  border: 2px solid #905bf4;
}

.project-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  padding: 10px;
  border-radius: 16px;
}

.project-card h3 {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.project-card p {
  font-size: 1rem;
  line-height: 1.5;
  min-height: 95px;
}

.tag {
  display: inline-block;
  padding: 4px 9px;
  border-radius: 999px;
  font-size: 0.85rem;
  color: #000;
  margin-right: 4px;
}

.html {
  background: #ffbd7a;
}

.css {
  background: #80d5f7;
}

.js {
  background: #fff176;
}

.php {
  background: #a37bff;
}

@media (max-width: 991px) {
  .project-category {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

.contact-section {
  min-height: 100vh;
  background-image: url("../imgs/bgAbstract.webp");
  background-size: cover;
}

.contact-card {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 40px;

  padding: 50px;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.contact-text {
  max-width: 400px;
  font-size: 2rem;
  font-weight: 500;
}

.custom-input {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 999px;

  color: white;
  padding: 12px 20px;
}

.custom-input:focus {
  background: transparent;
  color: white;

  border-color: #905bf4;
  box-shadow: none;
}

textarea.custom-input {
  border-radius: 20px;
  resize: none;
}

.submit-btn {
  border: none;

  background: linear-gradient(90deg, #905bf4, #6f42ff);

  color: white;
  padding: 14px;

  border-radius: 999px;
}

.required {
  color: #905bf4;
}

.form-label {
  color: white;
  margin-bottom: 8px;
}

.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
